<!-- views/account/management.ejs -->
<div>
  <h1>Account Management</h1>

  <% if (notice && notice.length > 0) { %>
    <div class="flash"><%= notice %></div>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <ul class="error-list">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <p>You're logged in.</p>
</div>