<!-- \views\partials\footer.ejs -->

<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE App</p>
    <p><a href="/inv/cause-error">Test Error</a></p>
</footer>