<!-- views/partials/header.ejs -->

<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

 <div id="tools" class="account-tools">
    <% if (locals.loggedin) { %>
      <!-- When logged in -->
      <a href="/account/management" title="Go to your account management page">
        Welcome, <%= locals.accountData.account_firstname %>
      </a>
      <a href="/account/logout" title="Click to logout">Logout</a>
    <% } else { %>
      <!-- When logged out -->
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>
